# Ignore downloaded files (although most of them should land outside of this repository)
*.pdb
*.cif
*.mrc
*.map.gz
*.map
*.xml

# Ignore generated movie files
*.mp4
*.avi

# Ignore generated image files
*.png

# Ignore ChimeraX session files
*.cxs

