# Ignore downloaded files (although they should land outside of this repository)
*.pdb
*.cif
*.mrc

# Ignore generated movie files
*.mp4
*.avi

# Ignore generated image files
*.png

# Ignore ChimeraX session files
*.cxs

